.bg-wrapper {
  background: center / cover url("../img/bg.svg") no-repeat;
}

.hero {

  &__row {
    display: flex;
  }

  &__column {
    margin-top: 168px;
    max-width: 730px;
    width: 100%;

    &-img {
      margin-top: 96px;
      background: center / contain url("../img/hero/phone.svg") no-repeat;
      max-width: 350px;
      width: 100%;
      padding-bottom: 56.65%;

    }

    @media (max-width: $md2+px) {
      margin-top: 84px;

      &-img {
        margin-top: 48px;
      }
    }

    @media (max-width: $md3+px) {
      padding-left: 30px;
    }

    @media (max-width: $md4+px) {
      &-img {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: $gray900;

    @media (max-width: $md1) {
      font-size: 62px;
      line-height: 88px;
    }

    @media (max-width: $md2+px) {
      font-size: 42px;
      line-height: 68px;
    }

    @media (max-width: $md3+px) {
      font-size: 32px;
      line-height: 58px;
    }
    @media (max-width: $md4+px) {
      font-size: 26px;
      line-height: 52px;
      max-width: 250px;
    }
  }

  &__button {
    margin-top: 32px;
    display: inline-block;
    height: 62px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    color: #ffffff;
    background-color: $purple;
    padding: 0px 41px;
    
  } 
}

.clouds {
  padding: 25px 0px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 891px;
    width: 100%;
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    align-items: center;
    height: 60px;

    @media (max-width: $md3+px) {
      flex-basis: 33.33333%;
      justify-content: center;
    }

    @media (max-width: $md4+px) {
      flex-basis: 50%;
    }
  }
}

.feature {
  padding-top: 64px;

  @media (max-width: $md3+px) {
    padding-top: 32px;
  }
  @media (max-width: $md4+px) {
    padding-top: 16px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 48px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $md4+px) {
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    margin-bottom: 64px;

    @media (max-width: $md3+px) {
      flex-basis: 49%;
      margin-bottom: 32px;
    }

    @media (max-width: $md4+px) {
      flex-basis: 80%;
      margin-bottom: 16px;
    }
  }
}
.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: $gray900;
  max-width: 540px;
  margin-bottom: 8px;

  @media (max-width: $md2+px) {
    font-size: 43px;
    line-height: 59px;
  }
  @media (max-width: $md3+px) {
    font-size: 38px;
    line-height: 54px;
  }
  @media (max-width: $md4+px) {
    font-size: 33px;
    line-height: 49px;
  }
}
.text {
  font-size: 18px;
  line-height: 32px;
  color: $gray900;
  max-width: 540px;

  @media (max-width: $md2+px) {
    font-size: 17px;
    line-height: 31px;
  }
  @media (max-width: $md3+px) {
    font-size: 16px;
    line-height: 30px;
  }
  @media (max-width: $md4+px) {
    font-size: 15px;
    line-height: 29px;
  }
}
.card {

  &__icon {
    max-width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0px 8px;
    color: $gray900;

    @media (max-width: $md2+px) {
      font-size: 22px;
      line-height: 30px;
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 28px;
    }
    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: $gray900;

    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.testimonial {
  padding: 120px 0 80px;
  background: $turquoise100;

  @media (max-width: $md3+px) {
    padding: 60px 0 40px;
  }

  @media (max-width: $md4+px) {
    padding: 30px 0 20px;
  }

  &__row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    &::before {
      content: "";
      background-image: url("../img/testimonial/quote.svg");
      position: absolute;
      top: -55px;
      left: 10px;
      z-index: 1;
      width: 143px;
      height: 120px;

      @media (max-width: $md1) {
        display: none;
      }
    }

  }

  &__column {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: flex-end;

    &:last-child {
      align-items: flex-start;
    }

    @media (max-width: $md3+px) {
      flex-basis: 100%;
    }
    @media (max-width: $md3+px) {
      align-items: center;

      &:last-child {
        align-items: center;
      }
    }
  }

  &__title-block {
    position: relative;
    z-index: 2;
    max-width: 445px;
    margin-bottom: 24px;
  }

  &__text {
    text-align: left;
  }

  &__card {
    max-width: 350px;
    width: 100%;
    padding: 32px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  }
}
.card-testimonial {

  &-mw {
    max-width: 445px;
    margin-top: 44px;
    margin-bottom: 32px;
  }

  &__img {
    height: 40px;
    max-width: 100%;
    margin-bottom: 32px;
  }

  &__text {
    padding: 0px 0px 24px 32px;
    font-size: 18px;
    line-height: 32px;
    color: $gray900;
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/testimonial/quote.svg");
      position: absolute;
      top: 0;
      left: 1px;
      z-index: 1;
      width: 16px;
      height: 14px;
    }

    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 30px;
    }
    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__author {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: $gray900;

    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 26px;
    }
    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $gray700;

    @media (max-width: $md4+px) {
      font-size: 12px;
      line-height: 22px;
    }
  }
}

.stats {
  padding: 180px 0px 80px;

  @media (max-width: $md2+px) {
    padding: 90px 0px 40px;
  }

  @media (max-width: $md3+px) {
    padding: 45px 0px 20px;
  }

  @media (max-width: $md4+px) {
    padding: 25px 0px 15px;
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

    &:last-child {
      flex-basis: 55%;
    }

    &-row {
      display: flex;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: $md3+px) {
        width: 100%;
        justify-content: space-between;
      }

      @media (max-width: $md4+px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }
    }

    @media (max-width: $md3+px) {
      align-items: center;
      flex-basis: 100%;
      margin-bottom: 20px;

      &:last-child {
        flex-basis: 100%;
        margin-bottom: 0;
      }
    }

  }

  &__title {
    text-align: left;
    @media (max-width: $md3+px) {
      text-align: center;
    }
  }

  &__text {
    text-align: left;
    @media (max-width: $md3+px) {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-basis: 50%;
    align-items: center;

    @media (max-width: $md3+px) {
      min-width: 180px;
      margin-left: 11%;
    }

    @media (max-width: $md4+px) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
}
.item-stats {

  &__img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    max-width: 100%;
  }

  &__count {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    color: $gray900;

    @media (max-width: $md3+px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (max-width: $md4+px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 26px;

    @media (max-width: $md3+px) {
      font-size: 15px;
      line-height: 25px;
    }

    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

